#!/bin/bash

set -eufo pipefail

{{ if eq .chezmoi.os "linux" }}

{{ $packages := list
     "bat"
     "build-essential"
     "curl"
     "fd-find"
     "fzf"
     "git"
     "git-lfs"
     "jq"
     "libfuse2"
     "openssh-server"
     "ripgrep"
     "shellcheck"
     "units"
     "zsh"
     "btop"
     "jq"
     "tmux"
     "tree"
     "unzip"
-}}
{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ end -}}


# installs atuin and starship
/bin/bash -c "$(curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh)"
curl -sS https://starship.rs/install.sh | sh
